---
import CodeXmlIcon from '@/components/icons/CodeXmlIcon.astro'
import GithubIcon from '@/components/icons/GithubIcon.astro'
import LinkedInIcon from '@/components/icons/LinkedInIcon.astro'
import Separator from '@/components/ui/Separator.astro'
import { defaultLang, getUrlPrefix, type Language, sectionIds, useTranslations } from '@/i18n'

const lang = (Astro.currentLocale as Language) || defaultLang
const t = useTranslations(lang)

const urlPrefix = getUrlPrefix(lang)

const footerLinks = [
  {
    title: t('footer.experience'),
    label: sectionIds[lang].experience,
    url: `${urlPrefix}/#${sectionIds[lang].experience}`,
    key: 'footer.experience',
  },
  {
    title: t('footer.projects'),
    label: sectionIds[lang].projects,
    url: `${urlPrefix}/#${sectionIds[lang].projects}`,
    key: 'footer.projects',
  },
  {
    title: t('footer.about'),
    label: sectionIds[lang].about,
    url: `${urlPrefix}/#${sectionIds[lang].about}`,
    key: 'footer.about',
  },
]
---

<footer class="mt-20">
  <div class="max-w-screen-md mx-auto">
    <div class="py-12 flex flex-col justify-start items-center">
      <div class="flex items-center gap-2 font-bold text-lg md:text-xl">
        <CodeXmlIcon class="size-6" />
        jaycodev
      </div>

      <ul class="mt-6 flex items-center gap-4 flex-wrap">
        {
          footerLinks.map(({ title, url, key }) => (
            <li>
              <a
                href={url}
                class="text-muted-foreground transition-colors duration-200 ease-in-out hover:text-primary"
                data-i18n={key}
              >
                {title}
              </a>
            </li>
          ))
        }
        <li>
          <a
            href="mailto:jason.vilac@gmail.com"
            class="text-muted-foreground transition-colors duration-200 ease-in-out hover:text-primary"
            target="_blank"
            rel="noopener noreferrer"
            data-i18n="footer.contact"
          >
            {t('footer.contact')}
          </a>
        </li>
      </ul>
    </div>
    <Separator />
    <div
      class="py-6 flex flex-col-reverse sm:flex-row items-center justify-between gap-x-2 gap-y-5 px-6 xl:px-0"
    >
      <span class="text-muted-foreground">Jason Vila - {new Date().getFullYear()}</span>

      <div class="flex items-center gap-5 text-muted-foreground">
        <a
          href="https://github.com/jaycodev"
          target="_blank"
          rel="noopener noreferrer"
          class="transition-colors duration-200 ease-in-out hover:text-primary"
        >
          <GithubIcon class="size-5" />
        </a>
        <a
          href="https://www.linkedin.com/in/jason-vila"
          target="_blank"
          rel="noopener noreferrer"
          class="transition-colors duration-200 ease-in-out hover:text-primary"
        >
          <LinkedInIcon class="size-5" />
        </a>
      </div>
    </div>
  </div>
</footer>
